body {
  background-color: #dbe5ea;
  font-family: "Poppins";
}
.card {
  padding: 1rem;
  min-height: 10rem;
  box-shadow: rgba(0, 0, 0, 0.17) 0px 25px 50px -12px;
  border-radius: 14px;
  text-align: left;
  color: black;
  background-color: rgb(249, 246, 246);
  margin-bottom: 8%;
  cursor: pointer;
  transition: 0.2s ease;
}

.card:hover {
  transition: 0.2s ease-in;
  box-shadow: rgba(17, 17, 26, 0.2) 0px 8px 24px,
    rgba(17, 17, 26, 0.2) 0px 16px 56px, rgba(17, 17, 26, 0.2) 0px 24px 80px;
}

.btnC {
  display: flex;
  justify-content: space-around;
}
