.container {
  display: grid;
  padding: 0 1rem 1rem 1rem;
  align-content: start;
}

.title {
  border: 0.5px solid black;
  margin-bottom: 1rem;
  background-color: whitesmoke;
  color: black;
  max-height: 10vh;
}

.taskdata {
  margin-bottom: 1rem;
}