.form-main-container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form_main {
	font-family: "Poppins";
	display: flex;
	min-width: clamp(10vw, 20vw, 30vw);
	max-height: clamp(50vh, 70vh, 80vh);
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.4rem;
	background-color: whitesmoke;
	padding: clamp(1vw, 1vw, 4vw) clamp(1vw, 2vw, 4vw);
	border-radius: 30px;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
}

.heading {
	font-weight: 900;
	font-size: clamp(3vw, 3.2vw, 7vw);
	letter-spacing: 7px;
	color: #2e2e2e;
	font-weight: 700;
	margin: 15px 0 30px 0;
}

.inputContainer {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.inputIcon {
	position: absolute;
	left: 10px;
	width: 15px;
}

#user {
	width: 12px;
}

.inputField {
	width: 100%;
	height: 40px;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid rgb(173, 173, 173);
	border-radius: 30px;
	margin: 10px 0;
	color: black;
	font-size: 0.8em;
	font-weight: 500;
	box-sizing: border-box;
	padding-left: 30px;
}

.inputField:focus {
	outline: none;
	border-bottom: 3.5px solid #3a9d96;
}

.inputField::placeholder {
	color: rgb(133, 133, 133);
	font-size: 1em;
	font-weight: 500;
}

#button {
	position: relative;
	width: 100%;
	border: 2px solid #3a9d96;
	background-color: #3a9d96;
	height: clamp(3vw, 3vw, 4vw);
	color: white;
	font-size: 1em;
	font-weight: 900;
	letter-spacing: 3px;
	border-radius: 30px;
	margin: 10px;
	cursor: pointer;
	overflow: hidden;
}

#button::after {
	content: "";
	position: absolute;
	background-color: rgba(255, 255, 255, 0.253);
	height: 100%;
	width: 150px;
	top: 0;
	left: -200px;
	border-bottom-right-radius: 100px;
	border-top-left-radius: 100px;
	filter: blur(10px);
	transition-duration: 0.7s;
}

#button:hover::after {
	transform: translateX(600px);
	transition-duration: 0.7s;
}

.signupContainer {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.signupContainer p {
	font-size: 0.9em;
	font-weight: 500;
	color: black;
}

.signupContainer a {
	text-decoration: none;
	color: #2e2e2e;
	font-size: 0.9em;
	font-weight: 500;
	padding: 8px 15px;
	cursor: pointer;
}

.signupContainer a:hover {
	text-decoration: underline;
}

.spinner_container {
	display: flex;
	justify-content: center;
}

.spinner {
	width: 24px;
	height: 24px;
	--c: radial-gradient(farthest-side, #ffffff 92%, #0000);
	background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
		var(--c) 0 50%;
	background-size: 5.8px 5.8px;
	background-repeat: no-repeat;
	animation: spinner-kh173p 1s infinite;
}

@keyframes spinner-kh173p {
	to {
		transform: rotate(0.5turn);
	}
}
