.formP {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin: 0 auto;
}

.labelP {
	margin-bottom: 8px;
	display: block;
}

.inputP,
.textareaP {
	padding: 8px;
	margin-bottom: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.textareaP {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	min-height: 100px;
}

.button {
	padding: 8px 16px;
	margin-right: 2rem;
	background-color: #4caf50;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 16px;
}

.buttonC {
	background-color: white;
  color: #1876D0;
  border: 2px solid #1876D0;
}

.buttonP{
  border: 2px solid #1876D0;
  background-color: #1876D0;
}

.imgEdit {
	margin: 5px 0;
	height: 2vh;
	width: 2vw;
}
