.formT {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.labelT {
  margin-bottom: 8px;
  display: block;
}

.inputT,
.selectT,
.textareaT {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.textareaT {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
}

.selectT {
  width: 100%;
}

.buttonT {
  padding: 8px 16px;
  margin-right: 2rem;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 16px;
}

.buttonP{
  border: 2px solid #1876D0;
  background-color: #1876D0;
}

.buttonC {
	background-color: white;
  color: #1876D0;
  border: 2px solid #1876D0;
}

.buttonCD {
	background-color: white;
  color: #ED5E68;
  border: 2px solid #ED5E68;
}

.buttonD{
  border: 2px solid #ED5E68;
  background-color: #ED5E68;
}

.imgEdit {
  margin: 5px 0;
  height: 2vh;
  width: 2vw;
}
